# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# environment
.env

# Expo
.expo/
dist/
web-build/
.expo-go

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Ignore all .vscode files except settings.json
.vscode/*
!.vscode/settings.json

# Folder probably created when running the emulator script.
apps/frontend/%ProgramData%/