# Ignore node_modules
node_modules

# Ignore build artifacts
dist
build

# Ignore lock files
package-lock.json
yarn.lock

# Ignore Expo config files
# App.json # i have commented this line manually, lets see if something breaks.
